*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans','HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
}

html{
    scroll-behavior:smooth ;
}
body {
    overflow: hidden;
  }
#error_message{color: #ff4242; font-size: 15px; font-weight: bold;}
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9000;
  background: white url(../images/loading.gif) no-repeat;
  background-size: 15%;
  background-position: center;
  overflow: hidden;
  
}
#contact-enquiry{display: none;}

.header-section h2{font-weight: bold; margin-top: 15px; color: black;}
.header-contact {margin-top: -36px;}

.header-contact a{text-decoration: none; color: black; }
.form-container{
    position: absolute;
    left: -35px;
    top: 81px;
}
.banner-contact{
    height: 600px;
    background: url(../images/1200X600px.gif) no-repeat;
    overflow: hidden;
    background-size: 100% 100%;
    margin-top: 65px;
   
}
.banner-content{
    padding: 45px;

}

.banner-contact .head-text{
    text-align: center;
    width: 50%;
    /* color: yellow; */
}
.banner-contact .head-text h3{
    font-size: 35px !important;
    font-weight: 900;
    color: #fbde0d;
    line-height: 44px;
    /* word-spacing: -13px; */
    text-transform: uppercase;
}
.banner-contact .text-information{
    width: 60%;
    margin-top: 15px;
    text-align: left;
    color: white;
}
.banner-contact .text-information p{
    font-size: 18px;
}
.wht-contact a{
    text-decoration: none;
    color: white;
}
.wht-contact a span{
    font-size: 20px;
     margin-left: 6px;
     overflow: hidden;
    }

    .wht-contact a span:hover{
        color: greenyellow;
    }
    .submit-form {
        padding: 15px;
        color: white;
       
    }
    .submit-form .form-header{
        margin-bottom: 25px;
    }
    .submit-form label{color: white; font-size: 15px; margin-top: 10px;}
    .submit-form input,textarea,select{
        background-color:white !important;
        padding-left: 10px !important;
        padding-right: 10px !important; 
        width: 90% !important;
    }

    .submit-form .btn-submit{
        padding: 10px;
        width: 97%;
        border: none;
        outline: none;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
    }

    .slider-section{
        /* background: #ece6e6; */
        margin-top: 2px;
        padding: 35px;
        height:auto ;
    }
    
    .slider-section .text-line{
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .slider-section .enquiry{
        text-align: center;
        margin-top: 35px;
    }
    .slider-section .enquiry .btn-enqury{
        padding: 15px 70px;
        background: rgb(253, 114, 15);
        border: none;
        outline: none;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        text-decoration: none;
    
    }

    .slider-section .enquiry .btn-enqury:hover{
     
      background: rgb(241, 112, 19);
  
  }

  .bumper-offer-section{
    background: #ece6e6;
    margin-top: 2px;
    padding: 30px 0;
    height:auto ;
}

.bumper-offer-section .enquiry{
  text-align: center;
  /* margin-top: 35px; */
}
.bumper-offer-section .click-enquiry{
  text-align: center;
  margin-top: 35px;
}

.bumper-offer-section .click-enquiry a{
  text-decoration: none;
  background: rgb(241, 112, 19);;
  padding: 20px 150px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  font-size: 20px;
  color: white;
}

    
@media(min-width:300px) and (max-width:800px){
    .header-contact .text-call{
        display: none;
    }
    .header-contact .call-icon{
        display: block !important;
        
    }
    .header-contact .text-call-icon{
        font-size: 28px !important;
    }
    .banner-contact{margin-top: 56px;}
    .banner-contact .head-text{width: 100%;text-align: left;}
    .banner-contact .head-text h3{ font-size: 30px !important;}
    .banner-contact .text-information{width: 100%;text-align: left;}
    .form-container {
        position:unset; 
    }
    .bumper-offer-section .click-enquiry a{
      padding: 12px 60px;
    }

    #preloader {
      background-size: 32%;
    }
    
}